.home .iconfont {
    font-size: 20px;
}

.home .adm-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home {
    /* background-color: #fff; */
    padding-bottom: 50px;
}
.home .tab{
    background-color: #fff;
}